*{
    font-family: 'Sono', sans-serif;
}
.Home{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
    background: #004369;
}
.Home header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    width: 50%;
    margin: 85px 0 25px;
    background: #004369;
    font-size: 17px;
}

.Home header div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 12px;
}

.Home header div img{
    width: 80px;
    height: 80px;
}

.Home input{
    width: 50%;
    padding: 20px;
    border: 0;
    border-radius: 10px;

    font-size: 20px;
    color: #004369;
    background-color: #E5DDC8;
    font-weight: bold;
    outline-color: #DB1F48;
}
.Home input::placeholder{
    color: #004369;
}
.Home button{
    width: 20%;
    margin: 15px 0 85px;
    padding: 12px;
    border-radius: 10px;
    border: 0;

    font-size: 20px;
    background-color: #DB1F48;
    cursor: pointer;
    transition: filter 0.2s;
}
.Home button:hover{
    filter: brightness(0.9);
}

@media screen and (max-width:550px) {
    .Home header{
        width: 80%;
        font-size: 12px;
    }
    .Home header div{
        font-size: 8px;
    }
    .Home header div img{
        width: 50px;
        height: 50px;
    }
    .Home input{
        width: 80%;
        padding: 12px;
        font-size: 13px;
    }
    .Home button{
        width: 50%;
        padding: 10px;
        font-size: 12px;
    }    
}