.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 50%;
    height: 70px;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 15px;
    background: #DB1F48;
}

.container,
strong,
small {
    background: #DB1F48;
}

@media screen and (max-width:550px) {
    .container {
        width: 80%;
        height: 50px;
        padding: 12px;
        font-size: 13px;
    }
}